@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans|Rajdhani');
// fonts
$font-default: 'Open Sans', sans-serif;
$font-headers: 'Merriweather', serif;
// padding/margin
$padding-default: 1em;
$margin-default: 1em;

// nav
$font-nav: 'Rajdhani',
sans-serif;
// grid
$gap-default: 2em;
$columns-default: repeat(2,
[col] 1fr);
$rows-default: repeat(2,
[row] auto);
// effects:
$transition-default: 1s;

@mixin backgrounds($picture) {
    background-image: url('../assets/backgrounds/' + $picture);
}

@mixin box-border($side) {
     :after {
        border-#{$side}: 1px solid $grey-light;
        content: '';
        position: absolute;
        height: 50%;
        bottom: 25%;
        #{$side}: 0;
    }
}