    @import 'variables';
    @import 'colors';
    * {
        margin: 0;
        padding: 0;
    }
    
    body,
    html {
        height: 100%;
        font-family: $font-default;
        color: $grey;
    }
    /* basic styles */
    
    a {
        color: $grey;
        text-decoration: none;
        .accent:hover {
            color: $red;
        }
    }
    
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: $font-headers;
    }
    
    .header {
        text-align: center;
        padding: 0 0 $padding-default 0;
        >h2,
        h3 {
            font-size: 240%;
            font-weight: 100;
        }
        >h3 {
            font-size: 140%;
        }
    }
    /* navigation */
    
    #navigation {
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 27px;
        overflow: auto;
        background-color: $black-transparent;
        padding: 4px 0;
        color: $white;
        font-family: $font-nav;
        font-size: 125%;
        .nav-logo {
            position: relative;
            float: left;
            font-weight: bold;
            margin-left: 50px;
            i {
                color: $red;
            }
        }
        a {
            color: $white;
        }
        .sub-menu {
            display: inline;
        }
        /* menu */
        #menu {
            position: relative;
            float: right;
            color: $white;
            a {
                padding: 4px 14px;
                width: 100%;
                position: relative;
            }
            a:hover:after {
                background: $red;
                display: block;
                content: '';
                height: 3px;
                width: calc(100% - 14px);
                position: absolute;
                left: 7px;
                bottom: 3px;
            }
            a.facebook:hover:after {
                background: $blue-facebook;
            }
        }
    }
    
    @media screen and (max-width: 850px) {
        #navigation {
            #menu {
                .service-items {
                    display: none;
                }
            }
        }
    }
    /* parallax */
    
    .parallax {
        height: 100%;
        /* the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    /* background */
    
    #home {
        @include backgrounds('metal.jpg');
    }
    
    #services-section {
        @include backgrounds('car-yellow.jpg');
        height: 75%;
    }
    
    #contact-section {
        @include backgrounds('car-white.jpg');
        height: 85%;
    }
    
    // layer
    .layer {
        height: 100%;
        width: 100%;
        transition: 1s;
        background-color: $black-transparent;
    }
    
    .layer:hover {
        background-color: transparent;
    }
    /* section */
    
    .section {
        padding-top: 2*$padding-default;
    }
    /* content grid */
    
    .wrapper {
        overflow: auto;
        max-width: 100%;
        margin: 0 auto;
        /* grid */
        display: grid;
        grid-gap: $gap-default;
    }
    
    .services .wrapper {
        width: 100%;
        grid-template-columns: repeat(1, [col] 1fr);
        grid-template-rows: repeat(auto-fit, [row] auto);
        // padding: 2em 0;
        max-width: 1000px;
        .service {
            .emphasis {
                text-align: center;
                padding: 6px 0;
            }
            .detailed-services {
                padding: $padding-default 0;
                justify-content: center;
                margin: 0 2*$margin-default;
                .item {
                    p {
                        text-align: center;
                        color: $grey-medium;
                        font-size: 0.8em;
                        line-height: 1.5;
                        padding: 6px 0;
                    }
                }
            }
        }
    }
    
    @media screen and (min-width: 820px) {
        .services .wrapper {
            .service {
                .detailed-services {
                    display: grid;
                    grid-template-rows: 1;
                    grid-auto-columns: minmax(min-content, 230px);
                    grid-auto-flow: column;
                    .item {
                        @include box-border(right);
                        line-height: 90px;
                        position: relative;
                        max-height: 90px;
                        text-align: center;
                        padding: 0 10px;
                        align-content: center;
                        justify-content: center;
                        position: relative;
                        p {
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                    .item:nth-child(1) {
                        @include box-border(left);
                    }
                }
            }
        }
    }
    
    #contact .wrapper {
        grid-template-columns: repeat(4, 1fr);
        padding-bottom: $padding-default;
        margin: 2em 0;
    }
    
    @media screen and (max-width: 800px) {
        #contact .wrapper {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    
    .box {
        margin: $margin-default;
        padding: 0 $padding-default;
        transition: $transition-default;
    }
    /* content */
    
    .content {
        overflow: auto;
        width: 100%;
    }
    /* #home */
    /* #home > .logo */
    
    #home {
        >.logo {
            width: 100%;
            margin: 0;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 50%;
            bottom: 0%;
            transition: all 1.5s;
            >img {
                max-height: 100%;
                margin-right: auto;
                margin-left: auto;
                display: block;
            }
        }
    }
    
    @media screen and (max-width: 760px) {
        #home>.logo {
            top: 50%;
            bottom: 20%;
        }
    }
    
    #our-services {
        text-align: center;
        padding: 2em 0 0 0;
        width: 100%;
        p {
            padding: 6px 0;
        }
    }
    /* gallery */
    
    .gallery {
        margin-bottom: 1em;
        position: relative;
        .scroll-gallery {
            overflow: hidden;
            white-space: nowrap;
            img {
                height: 14em;
                margin: 0;
                padding: 0;
            }
        }
        // buttons
        .buttons {
            width: calc(100% - 1em);
            font-size: 2.8em;
            position: absolute;
            top: 40%;
            z-index: 15;
            color: white;
            padding: 0 0.5em;
            .arrow {
                cursor: pointer;
                background-color: transparent;
            }
            .scrollright {
                float: right;
            }
            .scrollleft {
                float: left;
            }
        }
        .facebook{
            text-align: center;
            padding: 20px 0 10px 0;
            span:hover{
                text-decoration: underline;
            }
            i{
                color: $blue-facebook;
                font-size: 120%;
            }
        }
    }
    
    .images {
        display: grid;
        grid-template-columns: repeat(10, auto);
        grid-template-rows: 1;
    }
    /* gallery overlay */
    
    .overlay {
        position: fixed;
        background: rgba(0, 0, 0, 0.8);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        z-index: 2;
        img {
            width: 100%;
        }
    }
    
    .overlay.open {
        display: grid;
        align-items: center;
        justify-items: center;
    }
    
    .overlay-inner {
        position: absolute;
        width: 700px;
    }
    
    .buttons_overlay {
        width: calc(100% + 3.4em);
        position: absolute;
        top: 40%;
        right: -1.8em;
        left: -1.8em;
    }
    
    .button_overlay {
        background: none;
        color: white;
        border: 0;
        cursor: pointer;
    }
    
    
    .close {
        background: none;
        color: white;
        border: 0;
        float: right;
        cursor: pointer;
        font-size: 1.5em;
        position: absolute;
        top: 15px;
        right: 15px;
    }
    
    .button_overlay.array {
        font-size: 2.8em;
    }

    .prev_picture{
        float: left;
    }

    .next-picture {
        float: right;
    }
    /* contact */
    
    #contact {
        .box {
            text-align: center;
            width: 70%;
            margin: 0 auto;
            padding: 0 auto;
        }
        i {
            font-size: 1.5em;
        }
        .map {
            position: absolute;
            bottom: -50px;
        }
    }
    /* map and footer */
    
    .footer {
        text-align: center;
        padding: 0.25em 0;
        font-size: 90%;
        a:hover {
            font-weight: bold;
        }
    }
    
    #contact-section {
        position: relative;
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }