* {
    margin: 0;
    padding: 0;
    /* border: black solid 1px; */
}

body,
html {
    height: 100%;
    /* default font */
    font-family: 'Open Sans', sans-serif;
    color: #4d4d4d;
}


/* a */

a {
    color: #4d4d4d;
    text-decoration: none;
}

a:hover {
    color: #cc0000;
}


/* header */

h1,
h2,
h3 {
    text-align: center;
    padding: 1em;
}


/* navigation */

#navigation {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 4px 0;
    color: white;
    font-size: 1.3em;
    font-family: 'Rajdhani', sans-serif;
}

#navigation>.logo {
    position: relative;
    float: left;
    font-weight: bold;
    margin-left: 50px;
}

#navigation>.logo i {
    color: #cc0000;
}

#navigation a {
    color: white;
}

#menu {
    position: relative;
    float: right;
    padding-right: 100px;
}

#menu a {
    padding: 4px 14px;
}

#menu a:hover {
    color: #cc0000;
    background-color: black;
}

#menu a.facebook:hover {
    color: #3b5998;
    background-color: transparent;
}


/* parallax */

.parallax {
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* background */

#home {
    background-image: url('../assets/background_001.jpg');
}

#picture-1 {
    background-image: url('../assets/background_002.jpg');
}

#picture-2 {
    background-image: url('../assets/background_003.jpg');
}


/* sections */

.section {
    padding-top: 2em;
}


/* content grid */

.wrapper {
    display: grid;
    grid-template-rows: repeat(2, [row] auto);
    grid-gap: 10px;
}

.wrapper #blacharstwo,
.wrapper #kontakt {
    grid-template-columns: repeat(2, [col] 1fr);
}

.wrapper #lakiernictwo,
.wrapper #mechanika {
    grid-template-columns: repeat(3, [col] 1fr);
}

.box {
    padding: 1em;
    grid-row: row;
}

.box h3 {
    padding: 1em;
}


/* home */

.centered-text {
    color: white;
    position: absolute;
    z-index: 15;
    top: 27%;
    left: 17%;
    font-size: 4em;
    font-family: 'Rajdhani', sans-serif;
}

.centered-text i {
    color: rgba(0, 0, 0, 0.4);
}


/* services */

.services,
.contact-section {
    padding: 0 5em;
}

#introduction {
    font-size: 120%;
    text-align: center;
    margin-bottom: 2em;
}


/* service */

.icon {
    text-align: center;
    font-size: 1.5em;
}

.service p {
    text-align: justify;
}


/* gallery */

.gallery img {
    padding: 0.1em;
    margin: 0 2px;
    object-fit: cover;
    width: 320px;
    height: 240px;
}

.images {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 3em;
}


/* contact */

.contact {
    text-align: center;
    font-size: 1.5em;
    position: relative;
}

.contact-section {
    position: relative;
    width: 200px;
    padding: 1.2em;
}

.contact-section i {
    font-size: 1.5em;
}

.contact h3 {
    font-size: 100%;
}

.phones {
    width: 500px;
    margin: auto;
    padding: 10px;
}

.phone {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}